body {
  background-color: #141414;
  font-family: 'Helvetica';
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

ul li {
  padding: 3px;
  list-style-type: none;
}

input {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  color: #141414;
}

.search-bar {
  position: relative;
  margin-bottom: 30px;
}
.search-bar input {
  padding-left: 100px;
}

.search-bar:after {
  content: '🔍';
  font-size: 50px;
  width: 20px;
  height: 20px;
  left: 10px;
  position: absolute;
  display: block;
  top: 0;
}
